@import url(styling/nav.css);
@import url(styling/banner.css);

body{
  font-family: "Montserrat", sans-serif;
}

.section{
  margin-bottom: 10vh;
}

.about img{
  width: 400px;;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #2b2b2b;
  padding: 20px 0;
  color: white;
  margin-top: 100px;
  backdrop-filter: opacity(0.9);
}

footer img{
  margin: 15px 0px;
}

.section h1{
  display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items:center;
    letter-spacing: 10px;
}

#about{
  text-align: center;
}

#home-quote{
  background-image: url(/Assets/images/bw-bridge.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  padding: 10vh 16vw;
}

#home-quote p{
  color: black;
  background-color: rgba(255, 255, 255, .2);
  font-size: 2rem;
  backdrop-filter: blur(10px);
  font-family:'Courier New', Courier, monospace;
}

#home-quote h1{
  color: #1effbc;
  backdrop-filter: blur(10px);
  font-weight: 300;
}

.linebreak{
  display: flex;
  width: 3vw;
  margin: 40px auto;
  height: 10px;
  background-color: #1effbc;
  align-items: center;
  justify-content: center;
}


#cv-header{
  display: flex;
  margin-bottom: 3vh;
}

.cv-header-item{
  font-size: 1.5em;
  margin: 5px 10px 0px 0px;
  padding: 10px;
}


.cv-header-item.active {
  border-bottom: 3px solid #1effbc;
}

@media (max-width: 788px){
  #cv-nav{
    flex-direction: column;
  }
}
