@import url(styling/nav.css);
@import url(styling/banner.css);

body{
  font-family: "Montserrat", sans-serif;
}

.section{
  padding-top: 4vh;
}

.about img{
  width: 400px;;
}

footer {
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to right, #F44369, #3E3B92);
  padding: 20px 0;
  color: white;
  margin-top: 100px;
}

footer img{
  margin: 15px 0px;
}

.section h1{
  /* background: -webkit-linear-gradient( #F44369, #3E3B92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  background-image: url(/Assets/images/tape.svg);
  background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    display: inline-block;
}

@media (max-width: 788px){
  #cv-nav{
    flex-direction: column;
  }
}
