.banner{
  background-image: linear-gradient(80deg, var(--blue) , var(--green) );
  background-size: 200%;
  animation: gradient 3s infinite alternate;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: auto;
}

.banner > * {
  margin-bottom: 50px;
}

.banner img{
  width: clamp(200px, 15vw, 400px);
}

.banner h1{
  font-weight: 400;
  font-size: clamp(1rem, 3rem, 5rem);
}

#banner-button{
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  color: var(--blue);
}

#banner-button:hover{
  transform: translateY(5px);
  background-color: transparent;
  color: white;
}

#banner-button:active{
  transform: scale(1.5);
}

  @keyframes gradient{
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }


  @media (max-width: 600px){
    .banner-content h1{
      font-size: 4em;
    }

    .banner-content p{
      font-size: 1.5em;
    }

  }
