
footer {
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    color: black;
    margin-top: 100px;
    filter: drop-shadow(20px 5px 6px rgba(0, 0, 0, 0.3));
  }

  footer img {
    margin: 15px 0px;
  }

  footer i{
    padding: 10px;
    margin-top: 3vh;
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    transition: background-image 1s ease;
  }
  
  footer i:hover{
  background-image: var(--gradient);
  border: 1px solid var(--green);
    border-radius: 50px;
    color: white;
  animation: gradient 2s infinite alternate;
  transition: background-color 0.3s ease;
  border: none;
  background-size: 200%;
  }