/* Ratio for images must be in 684 / 317*/

.project {
  margin: 3vh 0;
  overflow: hidden;
  border-bottom: 5px solid var(--bg-color);
}

.project:hover {
  /* transform: scale(1.02); */
  transition: ease 0.1s;
  border-bottom: 5px solid var(--green);
}

/*  Image styling */

.project-img {
  max-height: 20vh;
  filter: grayscale(100%);
  overflow: hidden;
}

.project img {
  width: 100%;
  height: auto;
  aspect-ratio: 684 / 317;
}

.project:hover .project-img {
  filter: grayscale(0%);
  transition: ease 0.5s;
  overflow: hidden;
  transform: scale(1.05);
}

/*  Button styling */

#project-button {
  border: 1px solid var(--font-color);
  color: var(--font-color);
  padding: 5px 15px;
  border-radius: 50px;
  background-color: transparent;
}

#project-button:hover {
  background-image: var(--gradient);
  background-size: 200%;
  animation: gradient 3s infinite alternate;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

/* Text styling */

.project-info {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 10px;
}

.project-info a {
  margin-left: auto;
}

.project-info h2 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: medium;
}

/* .project-description {
  display: none;
}
.project:hover .project-description {
  display: block;
  transition: ease-in-out 2s;
} */

/* Featured project */
.featured-project {
  margin: 3vw 0;
}

.featured-project img {
  width: 350px;
  margin-bottom: 3vh;
}

.featured-project h1,
.featured-project h2,
.featured-project p {
  margin-bottom: 2vh;
}

.featured-project a {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
}

.featured-project a:hover {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}
